/* Reset default margins and paddings */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/* Ensure the canvas scales properly */
canvas {
    display: block;
    width: 100%;
    height: 100%;
}

/* For screens wider than 768px (tablet and PC) */
@media (min-width: 769px) {
    body, html {
        background: #000; /* Black borders */
    }
}
